.navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid darkblue;
  width: 100vw;
}

.navbar-user-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  border: 1px solid purple;
}

.navbar-title{
  align-items: center;
}

.map-container{
  border: 1px solid red;
  margin: 30px;
}